[Unit]
Description=Redis container

[Service]
Restart=always

[Container]
Image=docker.io/redis:latest
AutoUpdate=registry
Volume=foxws-redis:/data:rw,Z,U
Network=internal.network
PublishPort=6379:6379

[Install]
WantedBy=multi-user.target default.target
