[Unit]
Description=Minio container

[Service]
Restart=always

[Container]
Image=docker.io/minio/minio:latest
AutoUpdate=registry
EnvironmentFile=%h/.config/containers/systemd/foxws/minio.env
Volume=foxws-minio:/data/minio:rw,Z,U
Exec=minio server /data/minio --console-address ":8900"
Network=foxws.network
PublishPort=9000:9000
PublishPort=8900:8900

[Install]
WantedBy=multi-user.target default.target
