[Unit]
Description=Redis container

[Service]
Restart=always

[Container]
Image=docker.io/redis:latest
AutoUpdate=registry
Volume=foxws-redis:/data:rw,Z,U
Exec=redis-server --save 60 1 --loglevel warning
Network=foxws.network
ExposeHostPort=6379

[Install]
WantedBy=multi-user.target default.target
