[Unit]
Description=App container
Requires=foxws-redis.service foxws-mariadb.service foxws-meilisearch.service foxws-mailpit.service
After=foxws-redis.service foxws-mariadb.service foxws-meilisearch.service foxws-mailpit.service

[Service]
EnvironmentFile=%h/.config/containers/systemd/foxws/app.env
TimeoutStartSec=900
Restart=always

[Container]
Image=localhost/foxws-app
AutoUpdate=local
User=${APP_UID}
Group=${APP_GID}
UserNS=keep-id:uid=${APP_UID},gid=${APP_GID}
Volume=${APP_PATH}:/app:rw,z,U
Network=foxws.network
ExposeHostPort=6001
ExposeHostPort=9000
PublishPort=5174:5174

[Install]
WantedBy=multi-user.target default.target
