[Unit]
Description=Meilisearch container

[Service]
Restart=always

[Container]
Image=docker.io/getmeili/meilisearch:latest
Volume=foxws-meilisearch:/meili_data:rw,Z,U
EnvironmentFile=%h/.config/containers/systemd/foxws/meilisearch.env
Network=internal.network
PublishPort=7700:7700

[Install]
WantedBy=multi-user.target default.target
