[Unit]
Description=Nginx container
Requires=traefik.service foxws-app.service
After=traefik.service foxws-app.service

[Service]
EnvironmentFile=%h/.config/containers/systemd/foxws/config/app.env
TimeoutStartSec=900
Restart=always

[Container]
Image=localhost/foxws-nginx:latest
AutoUpdate=local
EnvironmentFile=%h/.config/containers/systemd/foxws/config/nginx.env
LogDriver=none
Volume=${APP_PATH}:/app:ro,z
User=${UID}
Group=${GID}
UserNS=keep-id:uid=${UID},gid=${GID}
Network=foxws.network
Network=traefik.network
ExposeHostPort=8080
ExposeHostPort=8443
Label=traefik.enable=true
Label=traefik.http.routers.foxws.rule=Host(`foxws.nl`)
Label=traefik.http.routers.foxws.entrypoints=websecure
Label=traefik.http.routers.foxws.tls=true
Label=traefik.http.routers.foxws.service=foxws
Label=traefik.http.services.foxws.loadbalancer.server.port=8080
Label=traefik.http.routers.foxws-ws.rule=Host(`ws.foxws.nl`)
Label=traefik.http.routers.foxws-ws.entrypoints=websecure
Label=traefik.http.routers.foxws-ws.tls=true
Label=traefik.http.routers.foxws-ws.service=foxws-ws
Label=traefik.http.services.foxws-ws.loadbalancer.server.port=4443

[Install]
WantedBy=multi-user.target
